/*     KoreanSWGI 100~400 - Font Subset */

@font-face {
    font-family: 'KoreanSWGI';
    font-style: normal;
    font-weight: 100;
    src: local('※'),
    url(./fonts/KoreanSWGI1R.eot),
    url(./fonts/KoreanSWGI1R.eot?#iefix) format('embedded-opentype'),
    url(./fonts/KoreanSWGI1R.woff) format('woff'),
    url(./fonts/KoreanSWGI1R.otf) format('opentype');
}

@font-face {
    font-family: 'KoreanSWGI';
    font-style: normal;
    font-weight: 200;
    src: local('※'),
    url(./fonts/KoreanSWGI2R.eot),
    url(./fonts/KoreanSWGI2R.eot?#iefix) format('embedded-opentype'),
    url(./fonts/KoreanSWGI2R.woff) format('woff'),
    url(./fonts/KoreanSWGI2R.otf) format('opentype');
}

@font-face {
    font-family: 'KoreanSWGI';
    font-style: normal;
    font-weight: 300;
    src: local('※'),
    url(./fonts/KoreanSWGI3R.eot),
    url(./fonts/KoreanSWGI3R.eot?#iefix) format('embedded-opentype'),
    url(./fonts/KoreanSWGI3R.woff) format('woff'),
    url(./fonts/KoreanSWGI3R.otf) format('opentype');
}

@font-face {
    font-family: 'KoreanSWGI';
    font-style: normal;
    font-weight: 400;
    src: local('※'),
    url(./fonts/KoreanSWGI4R.eot),
    url(./fonts/KoreanSWGI4R.eot?#iefix) format('embedded-opentype'),
    url(./fonts/KoreanSWGI4R.woff) format('woff'),
    url(./fonts/KoreanSWGI4R.otf) format('opentype');
}
